<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rip2</key>
	<dict>
		<key>architecture</key>
		<string>x86_64</string>
		<key>filename-sha256</key>
		<string>89c8c619f6f71dc9286b5dedd2daa1326153f3a9ee39f3e52e547e7f53d468a1</string>
		<key>filename-size</key>
		<integer>576031</integer>
		<key>homepage</key>
		<string>https://github.com/MilesCranmer/rip2</string>
		<key>installed_size</key>
		<integer>1459776</integer>
		<key>license</key>
		<string>GPL-3.0-or-later</string>
		<key>maintainer</key>
		<string>RotaryBoot58 &lt;petersoncraft20@proton.me&gt;</string>
		<key>pkgver</key>
		<string>rip2-0.9.5_1</string>
		<key>provides</key>
		<array>
			<string>cmd:rip-0.9.5_1</string>
		</array>
		<key>run_depends</key>
		<array>
			<string>libgcc&gt;=4.4.0_1</string>
			<string>glibc&gt;=2.41_1</string>
		</array>
		<key>shlib-requires</key>
		<array>
			<string>ld-linux-x86-64.so.2</string>
			<string>libc.so.6</string>
			<string>libgcc_s.so.1</string>
		</array>
		<key>short_desc</key>
		<string>Safe and ergonomic alternative to rm</string>
		<key>sourcepkg</key>
		<string>rip2</string>
	</dict>
	<key>satty</key>
	<dict>
		<key>architecture</key>
		<string>x86_64</string>
		<key>filename-sha256</key>
		<string>55ef59477a6d3eed571662eb9c5dbf435148e79e0ff10373773a7b466b526cc1</string>
		<key>filename-size</key>
		<integer>1640877</integer>
		<key>homepage</key>
		<string>https://github.com/gabm/Satty</string>
		<key>installed_size</key>
		<integer>4461570</integer>
		<key>license</key>
		<string>MPL-2.0</string>
		<key>maintainer</key>
		<string>RotaryBoot58 &lt;petersoncraft20@proton.me&gt;</string>
		<key>pkgver</key>
		<string>satty-0.19.0_1</string>
		<key>provides</key>
		<array>
			<string>cmd:satty-0.19.0_1</string>
		</array>
		<key>run_depends</key>
		<array>
			<string>fontconfig&gt;=2.6.0_1</string>
			<string>libadwaita&gt;=1.4.0_1</string>
			<string>gtk4&gt;=4.12.0_1</string>
			<string>pango&gt;=1.24.0_1</string>
			<string>gdk-pixbuf&gt;=2.22.0_1</string>
			<string>cairo&gt;=1.8.6_1</string>
			<string>glib&gt;=2.80.0_1</string>
			<string>libgcc&gt;=4.4.0_1</string>
			<string>glibc&gt;=2.41_1</string>
		</array>
		<key>shlib-requires</key>
		<array>
			<string>ld-linux-x86-64.so.2</string>
			<string>libadwaita-1.so.0</string>
			<string>libc.so.6</string>
			<string>libcairo-gobject.so.2</string>
			<string>libcairo.so.2</string>
			<string>libfontconfig.so.1</string>
			<string>libgcc_s.so.1</string>
			<string>libgdk_pixbuf-2.0.so.0</string>
			<string>libgio-2.0.so.0</string>
			<string>libglib-2.0.so.0</string>
			<string>libgobject-2.0.so.0</string>
			<string>libgtk-4.so.1</string>
			<string>libm.so.6</string>
			<string>libpango-1.0.so.0</string>
		</array>
		<key>short_desc</key>
		<string>Modern Screenshot Annotation</string>
		<key>sourcepkg</key>
		<string>satty</string>
	</dict>
	<key>xlibre-server</key>
	<dict>
		<key>architecture</key>
		<string>x86_64</string>
		<key>build-options</key>
		<string>~elogind </string>
		<key>conf_files</key>
		<array>
			<string>/etc/X11/Xwrapper.config</string>
		</array>
		<key>filename-sha256</key>
		<string>524626a9513f22856b4f2af22b6798ca184190d12650f22ab1c6f3d8771ca6e5</string>
		<key>filename-size</key>
		<integer>1656099</integer>
		<key>homepage</key>
		<string>https://x11libre.net/</string>
		<key>installed_size</key>
		<integer>4146619</integer>
		<key>license</key>
		<string>MIT, BSD-3-Clause</string>
		<key>maintainer</key>
		<string>RotaryBoot58 &lt;petersoncraft20@proton.me&gt;</string>
		<key>pkgver</key>
		<string>xlibre-server-25.0.0.18_1</string>
		<key>provides</key>
		<array>
			<string>xserver-abi-extension-11_1</string>
			<string>xserver-abi-input-26_1</string>
			<string>xserver-abi-video-25_1</string>
			<string>xf86-video-modesetting-1_1</string>
			<string>cmd:Xorg-25.0.0.18_1</string>
			<string>cmd:gtf-25.0.0.18_1</string>
		</array>
		<key>replaces</key>
		<array>
			<string>xf86-video-modesetting&gt;=0</string>
			<string>glamor-egl&gt;=0</string>
		</array>
		<key>run_depends</key>
		<array>
			<string>xkeyboard-config&gt;=0</string>
			<string>libGL&gt;=7.11_1</string>
			<string>libXau&gt;=1.0.4_1</string>
			<string>libXdmcp&gt;=1.0.2_1</string>
			<string>libXfont2&gt;=2.0.1_1</string>
			<string>glibc&gt;=2.41_1</string>
			<string>libdrm&gt;=2.4.6_1</string>
			<string>libepoxy&gt;=1.2_1</string>
			<string>libgbm&gt;=9.0_1</string>
			<string>nettle&gt;=3.6_1</string>
			<string>libpciaccess&gt;=0.10.5_1</string>
			<string>pixman&gt;=0.14.0_1</string>
			<string>eudev-libudev&gt;=1.6_1</string>
			<string>libxcvt&gt;=0.1.1_1</string>
			<string>libxshmfence&gt;=1.1_1</string>
		</array>
		<key>shlib-requires</key>
		<array>
			<string>libGL.so.1</string>
			<string>libXau.so.6</string>
			<string>libXdmcp.so.6</string>
			<string>libXfont2.so.2</string>
			<string>libc.so.6</string>
			<string>libdrm.so.2</string>
			<string>libepoxy.so.0</string>
			<string>libgbm.so.1</string>
			<string>libm.so.6</string>
			<string>libnettle.so.8</string>
			<string>libpciaccess.so.0</string>
			<string>libpixman-1.so.0</string>
			<string>libudev.so.1</string>
			<string>libxcvt.so.0</string>
			<string>libxshmfence.so.1</string>
		</array>
		<key>short_desc</key>
		<string>Fork of Xorg with lots of code cleanups and enhanced functionality</string>
		<key>sourcepkg</key>
		<string>xlibre-server</string>
	</dict>
	<key>xlibre-server-devel</key>
	<dict>
		<key>architecture</key>
		<string>x86_64</string>
		<key>build-options</key>
		<string>~elogind </string>
		<key>filename-sha256</key>
		<string>4516faeb0e65a71720f9235b42c46c0f3942eea236c25309be92a1278d109bee</string>
		<key>filename-size</key>
		<integer>178306</integer>
		<key>homepage</key>
		<string>https://x11libre.net/</string>
		<key>installed_size</key>
		<integer>932722</integer>
		<key>license</key>
		<string>MIT, BSD-3-Clause</string>
		<key>maintainer</key>
		<string>RotaryBoot58 &lt;petersoncraft20@proton.me&gt;</string>
		<key>pkgver</key>
		<string>xlibre-server-devel-25.0.0.18_1</string>
		<key>provides</key>
		<array>
			<string>pc:xlibre-server-25.0.0.18_1</string>
			<string>pc:xorg-server-25.0.0.18_1</string>
		</array>
		<key>run_depends</key>
		<array>
			<string>awk&gt;=0</string>
			<string>gawk&gt;=0</string>
			<string>MesaLib-devel&gt;=0</string>
			<string>libXaw-devel&gt;=0</string>
			<string>libXfont2-devel&gt;=0</string>
			<string>libXrender-devel&gt;=0</string>
			<string>libXres-devel&gt;=0</string>
			<string>libXtst-devel&gt;=0</string>
			<string>libXv-devel&gt;=0</string>
			<string>libXxf86dga-devel&gt;=0</string>
			<string>libdmx-devel&gt;=0</string>
			<string>libepoxy-devel&gt;=0</string>
			<string>openssl-devel&gt;=0</string>
			<string>libtirpc-devel&gt;=0</string>
			<string>libxkbfile-devel&gt;=0</string>
			<string>libxkbui-devel&gt;=0</string>
			<string>libxshmfence-devel&gt;=0</string>
			<string>pixman-devel&gt;=0</string>
			<string>xcb-util-image-devel&gt;=0</string>
			<string>xcb-util-keysyms-devel&gt;=0</string>
			<string>xcb-util-renderutil-devel&gt;=0</string>
			<string>xcb-util-wm-devel&gt;=0</string>
			<string>xkbcomp&gt;=0</string>
			<string>nettle-devel&gt;=0</string>
			<string>libxcvt-devel&gt;=0</string>
			<string>font-util&gt;=0</string>
		</array>
		<key>short_desc</key>
		<string>Fork of Xorg with lots of code cleanups and enhanced functionality - development files</string>
		<key>sourcepkg</key>
		<string>xlibre-server</string>
	</dict>
	<key>xlibre-server-xephyr</key>
	<dict>
		<key>architecture</key>
		<string>x86_64</string>
		<key>build-options</key>
		<string>~elogind </string>
		<key>filename-sha256</key>
		<string>a0afaa1d0ab655343fef4e72a993a6aa246f87382a431b28c3b00226cabe482a</string>
		<key>filename-size</key>
		<integer>1047144</integer>
		<key>homepage</key>
		<string>https://x11libre.net/</string>
		<key>installed_size</key>
		<integer>2272971</integer>
		<key>license</key>
		<string>MIT, BSD-3-Clause</string>
		<key>maintainer</key>
		<string>RotaryBoot58 &lt;petersoncraft20@proton.me&gt;</string>
		<key>pkgver</key>
		<string>xlibre-server-xephyr-25.0.0.18_1</string>
		<key>provides</key>
		<array>
			<string>cmd:Xephyr-25.0.0.18_1</string>
		</array>
		<key>run_depends</key>
		<array>
			<string>libGL&gt;=7.11_1</string>
			<string>libXau&gt;=1.0.4_1</string>
			<string>libXdmcp&gt;=1.0.2_1</string>
			<string>libXfont2&gt;=2.0.1_1</string>
			<string>glibc&gt;=2.41_1</string>
			<string>libepoxy&gt;=1.2_1</string>
			<string>nettle&gt;=3.6_1</string>
			<string>pixman&gt;=0.14.0_1</string>
			<string>eudev-libudev&gt;=1.6_1</string>
			<string>libxcb&gt;=1.10_1</string>
			<string>xcb-util-wm&gt;=0.3.9_1</string>
			<string>xcb-util-image&gt;=0.3.9_1</string>
			<string>xcb-util-keysyms&gt;=0.3.9_1</string>
			<string>xcb-util-renderutil&gt;=0.3.8_1</string>
			<string>xcb-util&gt;=0.3.9_1</string>
			<string>libxshmfence&gt;=1.1_1</string>
		</array>
		<key>shlib-requires</key>
		<array>
			<string>libGL.so.1</string>
			<string>libXau.so.6</string>
			<string>libXdmcp.so.6</string>
			<string>libXfont2.so.2</string>
			<string>libc.so.6</string>
			<string>libepoxy.so.0</string>
			<string>libm.so.6</string>
			<string>libnettle.so.8</string>
			<string>libpixman-1.so.0</string>
			<string>libudev.so.1</string>
			<string>libxcb-glx.so.0</string>
			<string>libxcb-icccm.so.4</string>
			<string>libxcb-image.so.0</string>
			<string>libxcb-keysyms.so.1</string>
			<string>libxcb-randr.so.0</string>
			<string>libxcb-render-util.so.0</string>
			<string>libxcb-render.so.0</string>
			<string>libxcb-shape.so.0</string>
			<string>libxcb-shm.so.0</string>
			<string>libxcb-util.so.1</string>
			<string>libxcb-xkb.so.1</string>
			<string>libxcb-xv.so.0</string>
			<string>libxcb.so.1</string>
			<string>libxshmfence.so.1</string>
		</array>
		<key>short_desc</key>
		<string>X server outputting to a window on a pre-existing X display</string>
		<key>sourcepkg</key>
		<string>xlibre-server</string>
	</dict>
	<key>xlibre-server-xnest</key>
	<dict>
		<key>architecture</key>
		<string>x86_64</string>
		<key>build-options</key>
		<string>~elogind </string>
		<key>filename-sha256</key>
		<string>296dcddf7aea541dd35d528f7fd12264a50c4cf52d773751c42d26aa82abeb72</string>
		<key>filename-size</key>
		<integer>679250</integer>
		<key>homepage</key>
		<string>https://x11libre.net/</string>
		<key>installed_size</key>
		<integer>1416676</integer>
		<key>license</key>
		<string>MIT, BSD-3-Clause</string>
		<key>maintainer</key>
		<string>RotaryBoot58 &lt;petersoncraft20@proton.me&gt;</string>
		<key>pkgver</key>
		<string>xlibre-server-xnest-25.0.0.18_1</string>
		<key>provides</key>
		<array>
			<string>cmd:Xnest-25.0.0.18_1</string>
		</array>
		<key>run_depends</key>
		<array>
			<string>libXau&gt;=1.0.4_1</string>
			<string>libXdmcp&gt;=1.0.2_1</string>
			<string>libXfont2&gt;=2.0.1_1</string>
			<string>glibc&gt;=2.41_1</string>
			<string>nettle&gt;=3.6_1</string>
			<string>pixman&gt;=0.14.0_1</string>
			<string>xcb-util-wm&gt;=0.3.9_1</string>
			<string>libxcb&gt;=1.10_1</string>
			<string>xcb-util&gt;=0.3.9_1</string>
		</array>
		<key>shlib-requires</key>
		<array>
			<string>libXau.so.6</string>
			<string>libXdmcp.so.6</string>
			<string>libXfont2.so.2</string>
			<string>libc.so.6</string>
			<string>libm.so.6</string>
			<string>libnettle.so.8</string>
			<string>libpixman-1.so.0</string>
			<string>libxcb-icccm.so.4</string>
			<string>libxcb-shape.so.0</string>
			<string>libxcb-util.so.1</string>
			<string>libxcb-xkb.so.1</string>
			<string>libxcb.so.1</string>
		</array>
		<key>short_desc</key>
		<string>Nested X server that runs as an X application</string>
		<key>sourcepkg</key>
		<string>xlibre-server</string>
	</dict>
	<key>xlibre-server-xvfb</key>
	<dict>
		<key>architecture</key>
		<string>x86_64</string>
		<key>build-options</key>
		<string>~elogind </string>
		<key>filename-sha256</key>
		<string>614b81522046d9773421edc0292b8bf4f13ef087667cfeb960de1cb2e0661551</string>
		<key>filename-size</key>
		<integer>875409</integer>
		<key>homepage</key>
		<string>https://x11libre.net/</string>
		<key>installed_size</key>
		<integer>1894747</integer>
		<key>license</key>
		<string>MIT, BSD-3-Clause</string>
		<key>maintainer</key>
		<string>RotaryBoot58 &lt;petersoncraft20@proton.me&gt;</string>
		<key>pkgver</key>
		<string>xlibre-server-xvfb-25.0.0.18_1</string>
		<key>provides</key>
		<array>
			<string>cmd:Xvfb-25.0.0.18_1</string>
		</array>
		<key>run_depends</key>
		<array>
			<string>xkeyboard-config&gt;=0</string>
			<string>libGL&gt;=7.11_1</string>
			<string>libXau&gt;=1.0.4_1</string>
			<string>libXdmcp&gt;=1.0.2_1</string>
			<string>libXfont2&gt;=2.0.1_1</string>
			<string>glibc&gt;=2.41_1</string>
			<string>nettle&gt;=3.6_1</string>
			<string>pixman&gt;=0.14.0_1</string>
		</array>
		<key>shlib-requires</key>
		<array>
			<string>libGL.so.1</string>
			<string>libXau.so.6</string>
			<string>libXdmcp.so.6</string>
			<string>libXfont2.so.2</string>
			<string>libc.so.6</string>
			<string>libm.so.6</string>
			<string>libnettle.so.8</string>
			<string>libpixman-1.so.0</string>
		</array>
		<key>short_desc</key>
		<string>Virtual framebuffer X server</string>
		<key>sourcepkg</key>
		<string>xlibre-server</string>
	</dict>
	<key>xlibre-xf86-input-elographics</key>
	<dict>
		<key>architecture</key>
		<string>x86_64</string>
		<key>filename-sha256</key>
		<string>8671e3b561af3d5a0e2f6c8553e7f15bd41e8bc213c4db628fa47859d4159408</string>
		<key>filename-size</key>
		<integer>10695</integer>
		<key>homepage</key>
		<string>https://github.com/X11Libre/xf86-input-elographics</string>
		<key>installed_size</key>
		<integer>30754</integer>
		<key>license</key>
		<string>MIT</string>
		<key>maintainer</key>
		<string>RotaryBoot58 &lt;petersoncraft20@proton.me&gt;</string>
		<key>pkgver</key>
		<string>xlibre-xf86-input-elographics-1.4.4.2_1</string>
		<key>run_depends</key>
		<array>
			<string>xserver-abi-input-26_1</string>
			<string>glibc&gt;=2.41_1</string>
		</array>
		<key>shlib-requires</key>
		<array>
			<string>libc.so.6</string>
		</array>
		<key>short_desc</key>
		<string>XLibre Elographics TouchScreen input driver</string>
		<key>sourcepkg</key>
		<string>xlibre-xf86-input-elographics</string>
	</dict>
	<key>xlibre-xf86-input-evdev</key>
	<dict>
		<key>architecture</key>
		<string>x86_64</string>
		<key>filename-sha256</key>
		<string>0ee0c37c5be3995dc9d6cee9e62a80362f5aef595c1a557b75d0ee3525f7cc2d</string>
		<key>filename-size</key>
		<integer>35268</integer>
		<key>homepage</key>
		<string>https://github.com/X11Libre/xf86-input-evdev</string>
		<key>installed_size</key>
		<integer>90312</integer>
		<key>license</key>
		<string>MIT</string>
		<key>maintainer</key>
		<string>RotaryBoot58 &lt;petersoncraft20@proton.me&gt;</string>
		<key>pkgver</key>
		<string>xlibre-xf86-input-evdev-2.11.0.2_1</string>
		<key>run_depends</key>
		<array>
			<string>xserver-abi-input-26_1</string>
			<string>glibc&gt;=2.41_1</string>
			<string>libevdev&gt;=1.2_1</string>
			<string>mtdev&gt;=1.1.2_1</string>
			<string>eudev-libudev&gt;=1.6_1</string>
		</array>
		<key>shlib-requires</key>
		<array>
			<string>libc.so.6</string>
			<string>libevdev.so.2</string>
			<string>libmtdev.so.1</string>
			<string>libudev.so.1</string>
		</array>
		<key>short_desc</key>
		<string>XLibre event device input driver</string>
		<key>sourcepkg</key>
		<string>xlibre-xf86-input-evdev</string>
	</dict>
	<key>xlibre-xf86-input-evdev-devel</key>
	<dict>
		<key>architecture</key>
		<string>x86_64</string>
		<key>filename-sha256</key>
		<string>d0c1856ac9c8aaf10a865fb71d51f0684eb699ff8f655daddff09cfbcff79651</string>
		<key>filename-size</key>
		<integer>2505</integer>
		<key>homepage</key>
		<string>https://github.com/X11Libre/xf86-input-evdev</string>
		<key>installed_size</key>
		<integer>3780</integer>
		<key>license</key>
		<string>MIT</string>
		<key>maintainer</key>
		<string>RotaryBoot58 &lt;petersoncraft20@proton.me&gt;</string>
		<key>pkgver</key>
		<string>xlibre-xf86-input-evdev-devel-2.11.0.2_1</string>
		<key>provides</key>
		<array>
			<string>pc:xorg-evdev-2.11.0.2_1</string>
		</array>
		<key>run_depends</key>
		<array>
			<string>xlibre-server-devel&gt;=0</string>
			<string>xlibre-xf86-input-evdev&gt;=2.11.0.2_1</string>
		</array>
		<key>short_desc</key>
		<string>XLibre event device input driver - development files</string>
		<key>sourcepkg</key>
		<string>xlibre-xf86-input-evdev</string>
	</dict>
	<key>xlibre-xf86-input-joystick</key>
	<dict>
		<key>architecture</key>
		<string>x86_64</string>
		<key>filename-sha256</key>
		<string>0769c8f3ec72dfe9dd66d3cfc7bfcadca77d9a818ed9328875328c0926a3274d</string>
		<key>filename-size</key>
		<integer>26042</integer>
		<key>homepage</key>
		<string>https://github.com/X11Libre/xf86-input-joystick/</string>
		<key>installed_size</key>
		<integer>64122</integer>
		<key>license</key>
		<string>MIT</string>
		<key>maintainer</key>
		<string>RotaryBoot58 &lt;petersoncraft20@proton.me&gt;</string>
		<key>pkgver</key>
		<string>xlibre-xf86-input-joystick-1.6.4.2_1</string>
		<key>run_depends</key>
		<array>
			<string>xserver-abi-input-26_1</string>
			<string>glibc&gt;=2.41_1</string>
		</array>
		<key>shlib-requires</key>
		<array>
			<string>libc.so.6</string>
		</array>
		<key>short_desc</key>
		<string>XLibre Joystick input driver</string>
		<key>sourcepkg</key>
		<string>xlibre-xf86-input-joystick</string>
	</dict>
	<key>xlibre-xf86-input-joystick-devel</key>
	<dict>
		<key>architecture</key>
		<string>x86_64</string>
		<key>filename-sha256</key>
		<string>b1ae2b34b40c458950e3cc9c98a1f82a426a39b9d2dd9528eb36d08c00094761</string>
		<key>filename-size</key>
		<integer>2806</integer>
		<key>homepage</key>
		<string>https://github.com/X11Libre/xf86-input-joystick/</string>
		<key>installed_size</key>
		<integer>5011</integer>
		<key>license</key>
		<string>MIT</string>
		<key>maintainer</key>
		<string>RotaryBoot58 &lt;petersoncraft20@proton.me&gt;</string>
		<key>pkgver</key>
		<string>xlibre-xf86-input-joystick-devel-1.6.4.2_1</string>
		<key>provides</key>
		<array>
			<string>pc:xorg-joystick-1.6.4.2_1</string>
		</array>
		<key>short_desc</key>
		<string>XLibre Joystick input driver - development files</string>
		<key>sourcepkg</key>
		<string>xlibre-xf86-input-joystick</string>
	</dict>
	<key>xlibre-xf86-input-libinput</key>
	<dict>
		<key>architecture</key>
		<string>x86_64</string>
		<key>filename-sha256</key>
		<string>563d529863621eaad7e0bc205f1a8401a93bb60e60081153ccb960ecb77f76ea</string>
		<key>filename-size</key>
		<integer>45614</integer>
		<key>homepage</key>
		<string>https://x11libre.net/</string>
		<key>installed_size</key>
		<integer>117030</integer>
		<key>license</key>
		<string>MIT</string>
		<key>maintainer</key>
		<string>rgcastrof &lt;rogeriogirao1@proton.me&gt;</string>
		<key>pkgver</key>
		<string>xlibre-xf86-input-libinput-1.5.1.0_1</string>
		<key>run_depends</key>
		<array>
			<string>xserver-abi-input-26_1</string>
			<string>libinput&gt;=1.2.0_1</string>
			<string>glibc&gt;=2.41_1</string>
		</array>
		<key>shlib-requires</key>
		<array>
			<string>libc.so.6</string>
			<string>libinput.so.10</string>
		</array>
		<key>short_desc</key>
		<string>XLibre fork of the generic input driver for the X.Org server based on libinput</string>
		<key>sourcepkg</key>
		<string>xlibre-xf86-input-libinput</string>
	</dict>
	<key>xlibre-xf86-input-libinput-devel</key>
	<dict>
		<key>architecture</key>
		<string>x86_64</string>
		<key>filename-sha256</key>
		<string>24f65a38a367c08e3b3952df9566a2a13e71901c926c64251d967726c3381d31</string>
		<key>filename-size</key>
		<integer>3889</integer>
		<key>homepage</key>
		<string>https://x11libre.net/</string>
		<key>installed_size</key>
		<integer>12505</integer>
		<key>license</key>
		<string>MIT</string>
		<key>maintainer</key>
		<string>rgcastrof &lt;rogeriogirao1@proton.me&gt;</string>
		<key>pkgver</key>
		<string>xlibre-xf86-input-libinput-devel-1.5.1.0_1</string>
		<key>provides</key>
		<array>
			<string>pc:xorg-libinput-1.5.1.0_1</string>
		</array>
		<key>run_depends</key>
		<array>
			<string>libinput-devel&gt;=0</string>
			<string>xlibre-server-devel&gt;=0</string>
		</array>
		<key>short_desc</key>
		<string>XLibre fork of the generic input driver for the X.Org server based on libinput - development files</string>
		<key>sourcepkg</key>
		<string>xlibre-xf86-input-libinput</string>
	</dict>
	<key>xlibre-xf86-input-synaptics</key>
	<dict>
		<key>architecture</key>
		<string>x86_64</string>
		<key>filename-sha256</key>
		<string>625912e136363c19f0582c7ba5c57df95b351fe41fcb2e51527375d55054afdb</string>
		<key>filename-size</key>
		<integer>60589</integer>
		<key>homepage</key>
		<string>https://github.com/X11Libre/xf86-input-synaptics</string>
		<key>installed_size</key>
		<integer>167274</integer>
		<key>license</key>
		<string>MIT</string>
		<key>maintainer</key>
		<string>RotaryBoot58 &lt;petersoncraft20@proton.me&gt;</string>
		<key>pkgver</key>
		<string>xlibre-xf86-input-synaptics-1.10.0.2_1</string>
		<key>provides</key>
		<array>
			<string>cmd:synclient-1.10.0.2_1</string>
			<string>cmd:syndaemon-1.10.0.2_1</string>
		</array>
		<key>run_depends</key>
		<array>
			<string>xserver-abi-input-26_1</string>
			<string>libX11&gt;=1.2_1</string>
			<string>libXi&gt;=1.2.1_1</string>
			<string>libXtst&gt;=1.0.3_1</string>
			<string>glibc&gt;=2.41_1</string>
			<string>libevdev&gt;=1.2_1</string>
		</array>
		<key>shlib-requires</key>
		<array>
			<string>libX11.so.6</string>
			<string>libXi.so.6</string>
			<string>libXtst.so.6</string>
			<string>libc.so.6</string>
			<string>libevdev.so.2</string>
			<string>libm.so.6</string>
		</array>
		<key>short_desc</key>
		<string>XLibre synaptics touchpad input driver</string>
		<key>sourcepkg</key>
		<string>xlibre-xf86-input-synaptics</string>
	</dict>
	<key>xlibre-xf86-input-synaptics-devel</key>
	<dict>
		<key>architecture</key>
		<string>x86_64</string>
		<key>filename-sha256</key>
		<string>386eb0feceb722b0767071b76b484e736443cc3432f23d5d7a43b0cdcfff41ca</string>
		<key>filename-size</key>
		<integer>2942</integer>
		<key>homepage</key>
		<string>https://github.com/X11Libre/xf86-input-synaptics</string>
		<key>installed_size</key>
		<integer>6053</integer>
		<key>license</key>
		<string>MIT</string>
		<key>maintainer</key>
		<string>RotaryBoot58 &lt;petersoncraft20@proton.me&gt;</string>
		<key>pkgver</key>
		<string>xlibre-xf86-input-synaptics-devel-1.10.0.2_1</string>
		<key>provides</key>
		<array>
			<string>pc:xorg-synaptics-1.10.0.2_1</string>
		</array>
		<key>short_desc</key>
		<string>XLibre synaptics touchpad input driver - development files</string>
		<key>sourcepkg</key>
		<string>xlibre-xf86-input-synaptics</string>
	</dict>
	<key>xlibre-xf86-input-vmmouse</key>
	<dict>
		<key>architecture</key>
		<string>x86_64</string>
		<key>conflicts</key>
		<array>
			<string>xf86-input-vmmouse</string>
			<string>xorg-server</string>
		</array>
		<key>filename-sha256</key>
		<string>06249b82b3bb74d394b3694e16dcb252e72e7bb2f7629462f46eb120bc14133f</string>
		<key>filename-size</key>
		<integer>13614</integer>
		<key>homepage</key>
		<string>https://github.com/X11Libre/xf86-input-vmmouse</string>
		<key>installed_size</key>
		<integer>43719</integer>
		<key>license</key>
		<string>MIT</string>
		<key>maintainer</key>
		<string>RotaryBoot58 &lt;petersoncraft20@proton.me&gt;</string>
		<key>pkgver</key>
		<string>xlibre-xf86-input-vmmouse-13.2.0.3_1</string>
		<key>provides</key>
		<array>
			<string>cmd:vmmouse_detect-13.2.0.3_1</string>
		</array>
		<key>run_depends</key>
		<array>
			<string>xserver-abi-input-26_1</string>
			<string>glibc&gt;=2.41_1</string>
			<string>eudev-libudev&gt;=1.6_1</string>
		</array>
		<key>shlib-requires</key>
		<array>
			<string>libc.so.6</string>
			<string>libudev.so.1</string>
		</array>
		<key>short_desc</key>
		<string>XLibre VMWare Mouse input driver</string>
		<key>sourcepkg</key>
		<string>xlibre-xf86-input-vmmouse</string>
	</dict>
	<key>xlibre-xf86-input-void</key>
	<dict>
		<key>architecture</key>
		<string>x86_64</string>
		<key>filename-sha256</key>
		<string>cda68f738cd2a7126477a81e285637cfd3b7b73bbf9e45c54ec7a50cc2444b85</string>
		<key>filename-size</key>
		<integer>5523</integer>
		<key>homepage</key>
		<string>https://github.com/X11Libre/xf86-input-void</string>
		<key>installed_size</key>
		<integer>18764</integer>
		<key>license</key>
		<string>MIT</string>
		<key>maintainer</key>
		<string>RotaryBoot58 &lt;petersoncraft20@proton.me&gt;</string>
		<key>pkgver</key>
		<string>xlibre-xf86-input-void-1.4.2.2_1</string>
		<key>run_depends</key>
		<array>
			<string>xserver-abi-input-26_1</string>
			<string>glibc&gt;=2.41_1</string>
		</array>
		<key>shlib-requires</key>
		<array>
			<string>libc.so.6</string>
		</array>
		<key>short_desc</key>
		<string>XLibre void input driver</string>
		<key>sourcepkg</key>
		<string>xlibre-xf86-input-void</string>
	</dict>
	<key>xlibre-xf86-input-wacom</key>
	<dict>
		<key>architecture</key>
		<string>x86_64</string>
		<key>conflicts</key>
		<array>
			<string>xf86-input-wacom</string>
		</array>
		<key>filename-sha256</key>
		<string>549c690b09b58479d1b1bdccdbdcc1c34e363af751f27adc6a4a392e84ba04ad</string>
		<key>filename-size</key>
		<integer>105398</integer>
		<key>homepage</key>
		<string>https://github.com/X11Libre/xf86-input-wacom</string>
		<key>installed_size</key>
		<integer>278793</integer>
		<key>license</key>
		<string>GPL-2.0-only</string>
		<key>maintainer</key>
		<string>RotaryBoot58 &lt;petersoncraft20@proton.me&gt;</string>
		<key>pkgver</key>
		<string>xlibre-xf86-input-wacom-1.2.3.2_1</string>
		<key>provides</key>
		<array>
			<string>cmd:isdv4-serial-debugger-1.2.3.2_1</string>
			<string>cmd:isdv4-serial-inputattach-1.2.3.2_1</string>
			<string>cmd:xsetwacom-1.2.3.2_1</string>
		</array>
		<key>replaces</key>
		<array>
			<string>xf86-input-wacom</string>
		</array>
		<key>run_depends</key>
		<array>
			<string>xserver-abi-input-26_1</string>
			<string>libX11&gt;=1.2_1</string>
			<string>libXi&gt;=1.2.1_1</string>
			<string>libXinerama&gt;=1.0.3_1</string>
			<string>libXrandr&gt;=1.3.0_1</string>
			<string>glibc&gt;=2.41_1</string>
			<string>eudev-libudev&gt;=1.6_1</string>
		</array>
		<key>shlib-requires</key>
		<array>
			<string>libX11.so.6</string>
			<string>libXi.so.6</string>
			<string>libXinerama.so.1</string>
			<string>libXrandr.so.2</string>
			<string>libc.so.6</string>
			<string>libm.so.6</string>
			<string>libudev.so.1</string>
		</array>
		<key>short_desc</key>
		<string>XLibre Wacom tablet input driver</string>
		<key>sourcepkg</key>
		<string>xlibre-xf86-input-wacom</string>
	</dict>
	<key>xlibre-xf86-input-wacom-devel</key>
	<dict>
		<key>architecture</key>
		<string>x86_64</string>
		<key>filename-sha256</key>
		<string>66c8d375ecbbdb70421d3ad6b8de5b1ce37a350742c29d6c655d7b68a007f68e</string>
		<key>filename-size</key>
		<integer>5639</integer>
		<key>homepage</key>
		<string>https://github.com/X11Libre/xf86-input-wacom</string>
		<key>installed_size</key>
		<integer>15353</integer>
		<key>license</key>
		<string>GPL-2.0-only</string>
		<key>maintainer</key>
		<string>RotaryBoot58 &lt;petersoncraft20@proton.me&gt;</string>
		<key>pkgver</key>
		<string>xlibre-xf86-input-wacom-devel-1.2.3.2_1</string>
		<key>provides</key>
		<array>
			<string>pc:xorg-wacom-1.2.3.2_1</string>
		</array>
		<key>short_desc</key>
		<string>XLibre Wacom tablet input driver - development files</string>
		<key>sourcepkg</key>
		<string>xlibre-xf86-input-wacom</string>
	</dict>
	<key>xlibre-xf86-video-amdgpu</key>
	<dict>
		<key>architecture</key>
		<string>x86_64</string>
		<key>filename-sha256</key>
		<string>65e266abcea879dbb176eef5aa5c6ae3e230b7926d1bcfc9fb9ba8e6774e8d2b</string>
		<key>filename-size</key>
		<integer>79408</integer>
		<key>homepage</key>
		<string>https://github.com/X11Libre/xf86-video-amdgpu</string>
		<key>installed_size</key>
		<integer>173120</integer>
		<key>license</key>
		<string>MIT</string>
		<key>maintainer</key>
		<string>RotaryBoot58 &lt;petersoncraft20@proton.me&gt;</string>
		<key>pkgver</key>
		<string>xlibre-xf86-video-amdgpu-23.0.0.6_1</string>
		<key>run_depends</key>
		<array>
			<string>xserver-abi-video-25_1</string>
			<string>mesa-dri&gt;=0</string>
			<string>glibc&gt;=2.41_1</string>
			<string>libdrm&gt;=2.4.64_1</string>
			<string>libgbm&gt;=9.0_1</string>
			<string>eudev-libudev&gt;=1.6_1</string>
		</array>
		<key>shlib-requires</key>
		<array>
			<string>libc.so.6</string>
			<string>libdrm_amdgpu.so.1</string>
			<string>libgbm.so.1</string>
			<string>libudev.so.1</string>
		</array>
		<key>short_desc</key>
		<string>XLibre amdgpu video driver</string>
		<key>sourcepkg</key>
		<string>xlibre-xf86-video-amdgpu</string>
	</dict>
	<key>xlibre-xf86-video-ati</key>
	<dict>
		<key>architecture</key>
		<string>x86_64</string>
		<key>filename-sha256</key>
		<string>e1d768eda697588ee3d7d3c180c8049b3142a799e921b35e95cad7a6747855f4</string>
		<key>filename-size</key>
		<integer>182398</integer>
		<key>homepage</key>
		<string>https://github.com/X11Libre/xf86-video-ati</string>
		<key>installed_size</key>
		<integer>540177</integer>
		<key>license</key>
		<string>MIT</string>
		<key>maintainer</key>
		<string>RotaryBoot58 &lt;petersoncraft20@proton.me&gt;</string>
		<key>pkgver</key>
		<string>xlibre-xf86-video-ati-22.0.0.4_1</string>
		<key>run_depends</key>
		<array>
			<string>xserver-abi-video-25_1</string>
			<string>mesa-dri&gt;=0</string>
			<string>glibc&gt;=2.41_1</string>
			<string>libdrm&gt;=2.4.6_1</string>
			<string>libgbm&gt;=9.0_1</string>
			<string>libpciaccess&gt;=0.10.5_1</string>
			<string>eudev-libudev&gt;=1.6_1</string>
		</array>
		<key>shlib-requires</key>
		<array>
			<string>libc.so.6</string>
			<string>libdrm_radeon.so.1</string>
			<string>libgbm.so.1</string>
			<string>libpciaccess.so.0</string>
			<string>libudev.so.1</string>
		</array>
		<key>short_desc</key>
		<string>XLibre ATI Radeon video driver</string>
		<key>sourcepkg</key>
		<string>xlibre-xf86-video-ati</string>
	</dict>
	<key>xlibre-xf86-video-cirrus</key>
	<dict>
		<key>architecture</key>
		<string>x86_64</string>
		<key>filename-sha256</key>
		<string>69056a920ec17d8749f2130929d7ce7e8ced44a0686fb494d5806973f388ac94</string>
		<key>filename-size</key>
		<integer>29102</integer>
		<key>homepage</key>
		<string>https://github.com/X11Libre/xf86-video-cirrus</string>
		<key>installed_size</key>
		<integer>66393</integer>
		<key>license</key>
		<string>MIT</string>
		<key>maintainer</key>
		<string>RotaryBoot58 &lt;petersoncraft20@proton.me&gt;</string>
		<key>pkgver</key>
		<string>xlibre-xf86-video-cirrus-1.6.0.2_1</string>
		<key>run_depends</key>
		<array>
			<string>xserver-abi-video-25_1</string>
			<string>glibc&gt;=2.41_1</string>
		</array>
		<key>shlib-requires</key>
		<array>
			<string>libc.so.6</string>
		</array>
		<key>short_desc</key>
		<string>XLibre Cirrus Logic video driver</string>
		<key>sourcepkg</key>
		<string>xlibre-xf86-video-cirrus</string>
	</dict>
	<key>xlibre-xf86-video-dummy</key>
	<dict>
		<key>architecture</key>
		<string>x86_64</string>
		<key>filename-sha256</key>
		<string>fa250617e52be05f8204dfd0252ad45e8f00803aa87c1491b7f285a466f95410</string>
		<key>filename-size</key>
		<integer>9429</integer>
		<key>homepage</key>
		<string>https://github.com/X11Libre/xf86-video-dummy</string>
		<key>installed_size</key>
		<integer>23404</integer>
		<key>license</key>
		<string>MIT</string>
		<key>maintainer</key>
		<string>RotaryBoot58 &lt;petersoncraft20@proton.me&gt;</string>
		<key>pkgver</key>
		<string>xlibre-xf86-video-dummy-0.4.1.4_1</string>
		<key>run_depends</key>
		<array>
			<string>xserver-abi-video-25_1</string>
			<string>glibc&gt;=2.41_1</string>
		</array>
		<key>shlib-requires</key>
		<array>
			<string>libc.so.6</string>
		</array>
		<key>short_desc</key>
		<string>XLibre dummy video driver</string>
		<key>sourcepkg</key>
		<string>xlibre-xf86-video-dummy</string>
	</dict>
	<key>xlibre-xf86-video-fbdev</key>
	<dict>
		<key>architecture</key>
		<string>x86_64</string>
		<key>filename-sha256</key>
		<string>83fd4315ec4eae7952b04a6ccb8dacd3484d4e2c8b87392ed4f1d86b0a0e73b8</string>
		<key>filename-size</key>
		<integer>12406</integer>
		<key>homepage</key>
		<string>https://github.com/X11Libre/xf86-video-fbdev</string>
		<key>installed_size</key>
		<integer>31237</integer>
		<key>license</key>
		<string>MIT</string>
		<key>maintainer</key>
		<string>RotaryBoot58 &lt;petersoncraft20@proton.me&gt;</string>
		<key>pkgver</key>
		<string>xlibre-xf86-video-fbdev-0.5.1.2_1</string>
		<key>run_depends</key>
		<array>
			<string>xserver-abi-video-25_1</string>
			<string>glibc&gt;=2.41_1</string>
		</array>
		<key>shlib-requires</key>
		<array>
			<string>libc.so.6</string>
		</array>
		<key>short_desc</key>
		<string>XLibre framebuffer video driver</string>
		<key>sourcepkg</key>
		<string>xlibre-xf86-video-fbdev</string>
	</dict>
	<key>xlibre-xf86-video-intel</key>
	<dict>
		<key>architecture</key>
		<string>x86_64</string>
		<key>filename-sha256</key>
		<string>df5355afd96b735543640a9e60564d80c3b31577d7d949dbb2715709deba2229</string>
		<key>filename-size</key>
		<integer>748344</integer>
		<key>homepage</key>
		<string>https://github.com/X11Libre/xf86-video-intel</string>
		<key>installed_size</key>
		<integer>2139527</integer>
		<key>license</key>
		<string>MIT</string>
		<key>maintainer</key>
		<string>RotaryBoot58 &lt;petersoncraft20@proton.me&gt;</string>
		<key>pkgver</key>
		<string>xlibre-xf86-video-intel-3.0.0.6_1</string>
		<key>run_depends</key>
		<array>
			<string>xserver-abi-video-25_1</string>
			<string>mesa-dri&gt;=0</string>
			<string>libX11&gt;=1.2_1</string>
			<string>libXvMC&gt;=1.0.4_1</string>
			<string>glibc&gt;=2.41_1</string>
			<string>libdrm&gt;=2.4.6_1</string>
			<string>libpciaccess&gt;=0.10.5_1</string>
			<string>pixman&gt;=0.14.0_1</string>
			<string>eudev-libudev&gt;=1.6_1</string>
			<string>libxcb&gt;=1.2_1</string>
			<string>xcb-util&gt;=0.3.9_1</string>
		</array>
		<key>shlib-provides</key>
		<array>
			<string>libIntelXvMC.so.1</string>
		</array>
		<key>shlib-requires</key>
		<array>
			<string>libX11-xcb.so.1</string>
			<string>libX11.so.6</string>
			<string>libXvMC.so.1</string>
			<string>libc.so.6</string>
			<string>libdrm.so.2</string>
			<string>libdrm_intel.so.1</string>
			<string>libm.so.6</string>
			<string>libpciaccess.so.0</string>
			<string>libpixman-1.so.0</string>
			<string>libudev.so.1</string>
			<string>libxcb-dri2.so.0</string>
			<string>libxcb-util.so.1</string>
			<string>libxcb.so.1</string>
		</array>
		<key>short_desc</key>
		<string>XLibre DDX Intel video driver</string>
		<key>sourcepkg</key>
		<string>xlibre-xf86-video-intel</string>
	</dict>
	<key>xlibre-xf86-video-mach64</key>
	<dict>
		<key>architecture</key>
		<string>x86_64</string>
		<key>filename-sha256</key>
		<string>387e885b8fc018dfee935fed7b4cae56c65a32690d5b5e0d943aa9249afbfe95</string>
		<key>filename-size</key>
		<integer>81893</integer>
		<key>homepage</key>
		<string>https://github.com/X11Libre/xf86-video-mach64</string>
		<key>installed_size</key>
		<integer>183695</integer>
		<key>license</key>
		<string>MIT</string>
		<key>maintainer</key>
		<string>RotaryBoot58 &lt;petersoncraft20@proton.me&gt;</string>
		<key>pkgver</key>
		<string>xlibre-xf86-video-mach64-6.10.0.3_1</string>
		<key>run_depends</key>
		<array>
			<string>xserver-abi-video-25_1</string>
			<string>glibc&gt;=2.41_1</string>
		</array>
		<key>shlib-requires</key>
		<array>
			<string>libc.so.6</string>
		</array>
		<key>short_desc</key>
		<string>XLibre ATI Rage Pro video driver</string>
		<key>sourcepkg</key>
		<string>xlibre-xf86-video-mach64</string>
	</dict>
	<key>xlibre-xf86-video-mga</key>
	<dict>
		<key>architecture</key>
		<string>x86_64</string>
		<key>filename-sha256</key>
		<string>742351c5c8c5c8380c6196ecdc5db3a34129699c55dbd6061e7cf662674c53ba</string>
		<key>filename-size</key>
		<integer>75488</integer>
		<key>homepage</key>
		<string>https://github.com/X11Libre/xf86-video-mga</string>
		<key>installed_size</key>
		<integer>166633</integer>
		<key>license</key>
		<string>MIT</string>
		<key>maintainer</key>
		<string>RotaryBoot58 &lt;petersoncraft20@proton.me&gt;</string>
		<key>pkgver</key>
		<string>xlibre-xf86-video-mga-2.1.0.2_1</string>
		<key>run_depends</key>
		<array>
			<string>xserver-abi-video-25_1</string>
			<string>glibc&gt;=2.41_1</string>
		</array>
		<key>shlib-requires</key>
		<array>
			<string>libc.so.6</string>
		</array>
		<key>short_desc</key>
		<string>XLibre Matrox Graphics Adapter video driver</string>
		<key>sourcepkg</key>
		<string>xlibre-xf86-video-mga</string>
	</dict>
	<key>xlibre-xf86-video-nouveau</key>
	<dict>
		<key>architecture</key>
		<string>x86_64</string>
		<key>filename-sha256</key>
		<string>b8a8b0712b444ae7c39a23e1efc2f000ad1148c4bb1030bcea8dd23881e1619a</string>
		<key>filename-size</key>
		<integer>103520</integer>
		<key>homepage</key>
		<string>https://github.com/X11Libre/xf86-video-nouveau</string>
		<key>installed_size</key>
		<integer>235992</integer>
		<key>license</key>
		<string>MIT</string>
		<key>maintainer</key>
		<string>RotaryBoot58 &lt;petersoncraft20@proton.me&gt;</string>
		<key>pkgver</key>
		<string>xlibre-xf86-video-nouveau-1.0.18.4_1</string>
		<key>run_depends</key>
		<array>
			<string>xserver-abi-video-25_1</string>
			<string>mesa-dri&gt;=0</string>
			<string>glibc&gt;=2.41_1</string>
			<string>libdrm&gt;=2.4.34_1</string>
			<string>eudev-libudev&gt;=1.6_1</string>
		</array>
		<key>shlib-requires</key>
		<array>
			<string>libc.so.6</string>
			<string>libdrm.so.2</string>
			<string>libdrm_nouveau.so.2</string>
			<string>libudev.so.1</string>
		</array>
		<key>short_desc</key>
		<string>XLibre NVIDIA video driver</string>
		<key>sourcepkg</key>
		<string>xlibre-xf86-video-nouveau</string>
	</dict>
	<key>xlibre-xf86-video-qxl</key>
	<dict>
		<key>architecture</key>
		<string>x86_64</string>
		<key>filename-sha256</key>
		<string>4d4d60c87ba0d266f006ade00d7c931a50c645e2d8c2d62f488c8a528fc25a35</string>
		<key>filename-size</key>
		<integer>94703</integer>
		<key>homepage</key>
		<string>https://github.com/X11Libre/xf86-video-qxl</string>
		<key>installed_size</key>
		<integer>194314</integer>
		<key>license</key>
		<string>MIT</string>
		<key>maintainer</key>
		<string>RotaryBoot58 &lt;petersoncraft20@proton.me&gt;</string>
		<key>pkgver</key>
		<string>xlibre-xf86-video-qxl-0.1.6.3_1</string>
		<key>run_depends</key>
		<array>
			<string>xserver-abi-video-25_1</string>
			<string>glibc&gt;=2.41_1</string>
			<string>eudev-libudev&gt;=1.6_1</string>
		</array>
		<key>shlib-requires</key>
		<array>
			<string>libc.so.6</string>
			<string>libudev.so.1</string>
		</array>
		<key>short_desc</key>
		<string>XLibre QXL video driver</string>
		<key>sourcepkg</key>
		<string>xlibre-xf86-video-qxl</string>
	</dict>
	<key>xlibre-xf86-video-r128</key>
	<dict>
		<key>architecture</key>
		<string>x86_64</string>
		<key>filename-sha256</key>
		<string>dfd95802e1bcb41a1918be1e624c29bf616cb4eba8a64b0648b9f5f831d5c86f</string>
		<key>filename-size</key>
		<integer>54797</integer>
		<key>homepage</key>
		<string>https://github.com/X11Libre/xf86-video-r128</string>
		<key>installed_size</key>
		<integer>122635</integer>
		<key>license</key>
		<string>MIT</string>
		<key>maintainer</key>
		<string>RotaryBoot58 &lt;petersoncraft20@proton.me&gt;</string>
		<key>pkgver</key>
		<string>xlibre-xf86-video-r128-6.13.0.3_1</string>
		<key>run_depends</key>
		<array>
			<string>xserver-abi-video-25_1</string>
			<string>glibc&gt;=2.41_1</string>
		</array>
		<key>shlib-requires</key>
		<array>
			<string>libc.so.6</string>
		</array>
		<key>short_desc</key>
		<string>XLibre ATI Rage 128 video driver</string>
		<key>sourcepkg</key>
		<string>xlibre-xf86-video-r128</string>
	</dict>
	<key>xlibre-xf86-video-sisusb</key>
	<dict>
		<key>architecture</key>
		<string>x86_64</string>
		<key>filename-sha256</key>
		<string>152b2f9e751ef70f18cc23b2823d767496644283f7b17c7b18e5c3863d61b3d4</string>
		<key>filename-size</key>
		<integer>44075</integer>
		<key>homepage</key>
		<string>https://github.com/X11Libre/xf86-video-sisusb</string>
		<key>installed_size</key>
		<integer>91116</integer>
		<key>license</key>
		<string>MIT</string>
		<key>maintainer</key>
		<string>RotaryBoot58 &lt;petersoncraft20@proton.me&gt;</string>
		<key>pkgver</key>
		<string>xlibre-xf86-video-sisusb-0.9.7.2_1</string>
		<key>run_depends</key>
		<array>
			<string>xserver-abi-video-25_1</string>
			<string>glibc&gt;=2.41_1</string>
		</array>
		<key>shlib-requires</key>
		<array>
			<string>libc.so.6</string>
		</array>
		<key>short_desc</key>
		<string>XLibre SiS USB video driver</string>
		<key>sourcepkg</key>
		<string>xlibre-xf86-video-sisusb</string>
	</dict>
	<key>xlibre-xf86-video-vesa</key>
	<dict>
		<key>architecture</key>
		<string>x86_64</string>
		<key>filename-sha256</key>
		<string>db2167810fc5de72ad5cd79521bc9539c8cadf3795f59f6e6ae681e11284201f</string>
		<key>filename-size</key>
		<integer>15691</integer>
		<key>homepage</key>
		<string>https://github.com/X11Libre/xf86-video-vesa</string>
		<key>installed_size</key>
		<integer>34940</integer>
		<key>license</key>
		<string>MIT</string>
		<key>maintainer</key>
		<string>RotaryBoot58 &lt;petersoncraft20@proton.me&gt;</string>
		<key>pkgver</key>
		<string>xlibre-xf86-video-vesa-2.6.0.4_1</string>
		<key>run_depends</key>
		<array>
			<string>xserver-abi-video-25_1</string>
			<string>glibc&gt;=2.41_1</string>
		</array>
		<key>shlib-requires</key>
		<array>
			<string>libc.so.6</string>
		</array>
		<key>short_desc</key>
		<string>XLibre vesa video driver</string>
		<key>sourcepkg</key>
		<string>xlibre-xf86-video-vesa</string>
	</dict>
	<key>xlibre-xf86-video-vmware</key>
	<dict>
		<key>architecture</key>
		<string>x86_64</string>
		<key>filename-sha256</key>
		<string>6674432065db2c9ae032ac6fb89f47841a72c87e8283eba68a42a8bd9f684620</string>
		<key>filename-size</key>
		<integer>87451</integer>
		<key>homepage</key>
		<string>https://github.com/X11Libre/xf86-video-vmware</string>
		<key>installed_size</key>
		<integer>189665</integer>
		<key>license</key>
		<string>MIT</string>
		<key>maintainer</key>
		<string>RotaryBoot58 &lt;petersoncraft20@proton.me&gt;</string>
		<key>pkgver</key>
		<string>xlibre-xf86-video-vmware-13.4.0.3_1</string>
		<key>run_depends</key>
		<array>
			<string>xserver-abi-video-25_1</string>
			<string>mesa-dri&gt;=0</string>
			<string>glibc&gt;=2.41_1</string>
			<string>libdrm&gt;=2.4.6_1</string>
			<string>eudev-libudev&gt;=1.6_1</string>
			<string>libxatracker&gt;=10.0.0_2</string>
		</array>
		<key>shlib-requires</key>
		<array>
			<string>libc.so.6</string>
			<string>libdrm.so.2</string>
			<string>libudev.so.1</string>
			<string>libxatracker.so.2</string>
		</array>
		<key>short_desc</key>
		<string>XLibre vmware video driver</string>
		<key>sourcepkg</key>
		<string>xlibre-xf86-video-vmware</string>
	</dict>
	<key>xlibre-xf86-video-voodoo</key>
	<dict>
		<key>architecture</key>
		<string>x86_64</string>
		<key>filename-sha256</key>
		<string>3e11af9e0fea04859a35fd4255812b8b67f5a84491043970f6f6063d483d7cb1</string>
		<key>filename-size</key>
		<integer>14039</integer>
		<key>homepage</key>
		<string>https://github.com/X11Libre/xf86-video-voodoo</string>
		<key>installed_size</key>
		<integer>32298</integer>
		<key>license</key>
		<string>MIT</string>
		<key>maintainer</key>
		<string>RotaryBoot58 &lt;petersoncraft20@proton.me&gt;</string>
		<key>pkgver</key>
		<string>xlibre-xf86-video-voodoo-1.2.6.3_1</string>
		<key>run_depends</key>
		<array>
			<string>xserver-abi-video-25_1</string>
			<string>glibc&gt;=2.41_1</string>
		</array>
		<key>shlib-requires</key>
		<array>
			<string>libc.so.6</string>
		</array>
		<key>short_desc</key>
		<string>XLibre 3dfx Voodoo1/Voodoo2 2D video driver</string>
		<key>sourcepkg</key>
		<string>xlibre-xf86-video-voodoo</string>
	</dict>
</dict>
</plist>
