<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public-key</key>
	<data>LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0KTUlJQm9qQU5CZ2txaGtpRzl3MEJBUUVGQUFPQ0FZOEFNSUlCaWdLQ0FZRUFwVkhzQkFYeXZCUkZXOE5oY2N2ZgpKejcySFFPaDVmVkRQYjJqenF3bTZNYzRsaDAwcG5FRU16VVExalVaa1QrOHR4eTFCdThGdUNwYVdwak01Z1YwCkM3S0hyaVIwZG9PK2xhKzdmL3BsL1VHRC9IM2k3VFVMRVpXb3FXUERwZ0M4YzNCMlRkMWtETjRUNE51bzI2d2gKbHdmR2JNRnpxaHg1K2tTc083ckxEdzZxYnFCT25OZTdncWNLcDFMOERsWHRRSGx0Y3Q5WjVsSUkxT0JJczBpcgpYbmM5bUkrM1pvcjBzVjRleUJuQnQ2WGRvbldPRE4vQ1k2Wm1wR3JaRnhpMUNnYktsQUpoTVpZSGJid2pMWEhFCnVvTExLdFpVM0oyTlNtUmx5N3cwM0FiS2VhNlBJZUFHV1JLb0FabFp6NlRKMlFvMHE1UjdsWmg1WXcrS3RYRnMKR1R5d1RxY2s0YUVGajIyNllXZkJHNG9NNEs4NEVhck1SNlRka2p0YlRPakZWSXBRTi9WbmhNT2pKZCs5UzN3TApvV0xLZ1dRRk9rbE5Fb1VFTXp6ejhKOGhVd3g3MHNpcC83SUZ6R1FpYXNUbEs4Vk5hSHZ3MzlVYnczK3NjU3lHClR0Vys0b3FSTlh5NTNYNXY4NUdCWFRUdFBkcWFBRGFXUEhFcnRpcUtib05aQWdNQkFBRT0KLS0tLS1FTkQgUFVCTElDIEtFWS0tLS0tCg==</data>
	<key>public-key-size</key>
	<integer>3072</integer>
	<key>signature-by</key>
	<string>RotaryBoot58</string>
	<key>signature-type</key>
	<string>rsa</string>
</dict>
</plist>
